use flake
watch_file cabal.project
watch_file ClickHaskell-client/ClickHaskell-client.cabal
watch_file ClickHaskell-generics/ClickHaskell-generics.cabal
watch_file ClickHaskell-tables/ClickHaskell-tables.cabal
watch_file ClickHouse-db-types/ClickHouse-db-types.cabal
watch_file ClickHouse-lock/ClickHouse-lock.cabal
