dist-newstyle
node_modules
.react-router
documentation/build

*.aux
*.hp
*.pdf
*.prof
*.ps
*.eventlog
*.eventlog.html
*.dump-rule-firings
*.dump-simpl
*.dump-simpl-stats
*.dump-spec

data
*~
~*
/result
/.direnv

_cache
_site
