@font-face {
  font-family: 'Hasklig';
  font-weight: monospace;
  src: local('Hasklig'), url('/assets/Hasklig-Regular.ttf');
}
@font-face {
  font-family: 'Hasklig';
  font-weight: bold;
  src: local('Hasklig'), url('/assets/Hasklig-Bold.ttf');
}
html {
    align-items: center;
    background-color: #121212;
    color: rgb(155, 155, 155);

    margin: 0px;
    justify-content: center;
    font-family: 'Hasklig', monospace;
}
code {font-family: 'Hasklig', monospace}
header {
    padding: 4px 8px;
    align-items: center;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(30, 30, 30);
}
header div {
    display: flex;
    flex-direction: row;
}
header div a {
    display:flex; align-items:center;
    column-gap:3px; padding: 2px;
    font-size:18px; text-decoration: none;
    border: 2px solid; border-radius: 5px; border-color: rgb(30, 30, 30);
    background-color: #121212;
}
body {
    margin-top: 0px;
    max-width: 720px;
    width: 100%;
}
main {padding: 0px 8px 0px 8px; }
a {color: rgb(155, 155, 155);}
a:link {color: rgb(155, 155, 155);}
a:hover {color: rgb(155, 155, 155);}
a:visited {color: rgb(155, 155, 155);}
