@import "@clickhaskell/ui/globals.css";

@font-face {
  font-family: 'Hasklig';
  font-weight: monospace;
  src: local('Hasklig'), url('/assets/Hasklig-Regular.ttf');
}

@font-face {
  font-family: 'Hasklig';
  font-weight: bold;
  src: local('Hasklig'), url('/assets/Hasklig-Bold.ttf');
}

html {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  margin: 0px;
  justify-content: center;
  font-family: 'Hasklig', monospace;
}

code {
  font-family: 'Hasklig', monospace
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  padding: 5px 3px 3px 5px;
}


a {
  color: var(--color-foreground);
}

/* 
a:link {
  color: var(--color-foreground);
}

a:hover {
  color: var(--color-foreground);
}

a:visited {
  color: var(--color-foreground);
} */

/*
  #8f4e8b
  #5e5086
  #453a62
*/
