name: "Test nix"
on:
  pull_request:
    branches: master
  push:
    branches: master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run database
        working-directory: dev
        run: nix run

      - run: nix run .#de-serialization
