name: "Validate PR"

on:
  pull_request:
    branches: [master]

jobs:
  handle-PR:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch repo
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build documntation
        run: nix build .#documentation

      - name: Build integration tests runner
        run: nix build .#integration-testing

      - name: Run integration testing
        run: nix run .#integration-testing
