name: "Docs"

on:
  push:
    branches: [master]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  handle-push-to-master:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch repo
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build integration tests
        run: nix build .#integration-testing

      - name: Run integration tests
        run: nix run .#integration-testing

      - name: Build documntation
        run: nix build .#documentation

      - name: Upload a Build Artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          name: github-pages
          path: result/_site/

      - name: Check if docs sources changed
        uses: dorny/paths-filter@v3
        id: srcChanges
        with:
          filters: |
            isChangedDocs:
              - 'documentation/**'
            isChangedClickHaskell:
              - 'ClickHaskell/**'
            isChangedClickHaskellHttpClient:
              - 'ClickHaskell-http-client/**'

      - name: Build ClickHaskell-dist
        if: steps.isChangedClickHaskell.outputs.isSourceChanged == 'true'
        run: nix build .#ClickHaskell-dist
      
      - name: Deploy ClickHaskell release candidate
        if: steps.isChangedClickHaskell.outputs.isSourceChanged == 'true'
        uses: haskell-actions/hackage-publish@v1
        with:
          hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
          packagesPath: result/packages
          docsPath: result/docs
          publish: false

      - name: Build ClickHaskell-http-client-dist
        if: steps.isChangedClickHaskellHttpClient.outputs.isSourceChanged == 'true'
        run: nix build .#ClickHaskell-http-client-dist
      
      - name: Deploy ClickHaskell-http-client release candidate
        if: steps.isChangedClickHaskellHttpClient.outputs.isSourceChanged == 'true'
        uses: haskell-actions/hackage-publish@v1
        with:
          hackageToken: ${{ secrets.HACKAGE_AUTH_TOKEN }}
          packagesPath: result/packages
          docsPath: result/docs
          publish: false

    outputs:
      isDeployRequiredDocs:
        ${{ steps.srcChanges.outputs.isChangedDocs }}

  deploy-docs:
    needs: [handle-push-to-master]
    runs-on: ubuntu-latest
    if: needs.handle-push-to-master.outputs.isDeployRequiredDocs == 'true'

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
